#leftColumn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
}

.gallery-image {
    width: calc(50% - 20px);
    margin: 25px;
    object-fit: cover;
    height: 16vw;
    border-radius: 10px;
}

.gallery-image:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .gallery-image {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .gallery-image {
        width: calc(100% - 20px);
    }
}