body {
    margin: 0;
    padding: 0;
    font-family: 'Impact', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
}

.container {
    min-height: 410px;
    display: flex;
    flex: 1;
    background-color: #D64D1E;
}

header>div {
    flex: 1;
}

header>div>h2 {
    margin: 5px;
    padding: 5px;
}

#logoutDiv {
    text-align: right;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    width: 100vw;
    height: 50px;
    background-color: #CCC5B9;
}