#columnLeft {
    padding: 10px;
    overflow: auto;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto repeat(14, 50px);
    gap: 5px;
}

.day,
.hour,
.hourWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    text-align: center;
}

.day {
    font-weight: bold;
    background-color: #dfdfdf;
}

.available {
    background-color: #8bc34a;
    cursor: pointer;
}

.reserved {
    background-color: #f44336;
    cursor: not-allowed;
}

.hour {
    background-color: #dfdfdf;
}

.hourWindow {
    background-color: #fff;
}