<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/public/image/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <title>Bowling</title>
</head>

<body>
    <div class="container">
        <header>
            <div>
                <h2>
                    <?php
                if (isset($_SESSION['user_id'])) {
                    echo "Welcome " . $_SESSION['username'] . "!";
                } else {
                    echo "User not singed in";
                };
            ?>

                </h2>
            </div>
            <div id="logoutDiv">
                <h2>
                    <a href="/logout">Log out</a>
                </h2>
            </div>
        </header>
        <div id="columns">
            <div id="leftColumn" class="column">
                <h3>Admin panel</h3>
                <table border="1" id="usersTable">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Login</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <script>
                    async function fetchUsers() {
                        const response = await fetch('/src/service/security/FetchUsers.php');
                        const users = await response.json();

                        const tbody = document.getElementById('usersTable').getElementsByTagName('tbody')[0];

                        users.forEach(user => {
                            const row = document.createElement('tr');

                            const firstNameCell = document.createElement('td');
                            firstNameCell.textContent = user.firstname;

                            const lastNameCell = document.createElement('td');
                            lastNameCell.textContent = user.lastname;

                            const emailCell = document.createElement('td');
                            emailCell.textContent = user.email;

                            const loginCell = document.createElement('td');
                            loginCell.textContent = user.login;

                            const roleCell = document.createElement('td');
                            roleCell.textContent = user.role;

                            row.appendChild(firstNameCell);
                            row.appendChild(lastNameCell);
                            row.appendChild(emailCell);
                            row.appendChild(loginCell);
                            row.appendChild(roleCell);

                            tbody.appendChild(row);
                        });
                    }

                    window.onload = fetchUsers;
                </script>
            </div>
            <div id="rightColumn" class="column">
                <?php 
                    if (isset($_SESSION['role']) && $_SESSION['role'] === 'admin' ) { 
                        echo "<a href='/admin'><div class='menuDecorator'>
                            <img src='/public/image/admin.svg'>
                        </div>Admin</a>";
                    }?>
                <a href="/main">
                    <div class="menuDecorator"><img src="/public/image/schedule.svg"></div>Schedule
                </a>
                <a href="/gallery">
                    <div class="menuDecorator"><img src="/public/image/gallery.svg"></div>Gallery
                </a>
                <a href="/contact">
                    <div class="menuDecorator"><img src="/public/image/contact.svg"></div>Contact
                </a>
                <a href="/location">
                    <div class="menuDecorator"><img src="/public/image/location.svg"></div>Location
                </a>
                <a href="/bowling">
                    <div class="menuDecorator"><img src="/public/image/bowling.svg"></div>Bowling
                </a>
            </div>
        </div>
    </div>
</body>

</html>