<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/public/image/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
    <title>Bowling</title>
</head>

<body>
    <div class="container">
        <header>
            <div>
                <h2>
                    <?php
                if (isset($_SESSION['user_id'])) {
                    echo "Welcome " . $_SESSION['username'] . "!";
                } else {
                    echo "User not singed in";
                };
            ?>

                </h2>
            </div>
            <div id="logoutDiv">
                <h2>
                    <a href="/logout">Log out</a>
                </h2>
            </div>
        </header>
        <div id="columns">
            <div id="leftColumn" class="column leftColumnPrice">
                <h2 class="priceList">Price List</h2>
                <div class="pricing">
                    <div class="pricing-item">
                        <h3>Bowling</h3>
                        <p>1 hour - 50 PLN</p>
                        <p>2 hours - 90 PLN</p>
                    </div>
                    <div class="pricing-item">
                        <h3>Food & Drinks</h3>
                        <p>Pizza - 30 PLN</p>
                        <p>2 Pizzas - 55 PLN</p>
                        <p>Drink - 10 PLN</p>
                        <p>2 Drinks - 18 PLN</p>
                    </div>
                    <div class="pricing-item">
                        <h3>Special Offer</h3>
                        <p>Bowling + Drink - 55 PLN</p>
                        <p>2h Bowling + Drink - 95 PLN</p>
                    </div>
                </div>
            </div>
            <div id="rightColumn" class="column">
                <?php
                                                        if (isset($_SESSION['roles']) && is_array($_SESSION['roles']) && in_array(2, $_SESSION['roles'], true)) {
                                        echo "<a href='/admin'>
                    <div class='menuDecorator'><img src='/public/image/admin.svg'></div>Admin
                </a>";
                                    } 
                                ?>

                <a href="/main">
                    <div class="menuDecorator"><img src="/public/image/schedule.svg"></div>Schedule
                </a>
                <a href="/gallery">
                    <div class="menuDecorator"><img src="/public/image/gallery.svg"></div>Gallery
                </a>
                <a href="/contact">
                    <div class="menuDecorator"><img src="/public/image/contact.svg"></div>Contact
                </a>
                <a href="/location">
                    <div class="menuDecorator"><img src="/public/image/location.svg"></div>Location
                </a>
                <a href="/bowling">
                    <div class="menuDecorator"><img src="/public/image/bowling.svg"></div>Bowling
                </a>
            </div>
            <div id="burgerMenu" class="burgerMenu">☰</div>
            <script src="/public/js/BurgerMenuToggle.js"></script>
        </div>
    </div>
</body>

</html>