<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/public/image/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
    <link href="/public/css/map.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <title>Bowling</title>
</head>

<body>
    <div class="container">
        <header>
            <div>
                <h2>
                    <?php
                if (isset($_SESSION['user_id'])) {
                    echo "Welcome " . $_SESSION['username'] . "!";
                } else {
                    echo "User not singed in";
                };
            ?>

                </h2>
            </div>
            <div id="logoutDiv">
                <h2>
                    <a href="/logout">Log out</a>
                </h2>
            </div>
        </header>
        <div id="columns">
            <div id="leftColumn" class="column">
                <h1>Our Location</h1>
                <div id="map"></div>
                <p>Address: ul. Szlak 73, 31-153 Kraków, Polska</p>
                <script src="https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.js"></script>
                <script>
                    mapboxgl.accessToken = 'pk.eyJ1IjoicWJhMzMxIiwiYSI6ImNtOGRoNmZiejI4OHAycnM4MXFxOTJsaDEifQ.3Uys3fkgmPBlhCOQ5xvqug';
                    const map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v11',
                        center: [19.9430, 50.0720], // PK
                        zoom: 17,
                    });
                    document.querySelector('.mapboxgl-control-container').remove();
                </script>
            </div>
            <div id="rightColumn" class="column">
                <?php 
                    if (isset($_SESSION['role']) && $_SESSION['role'] === 'admin' ) { 
                        echo "<a href='/admin'><div class='menuDecorator'>
                            <img src='/public/image/admin.svg'>
                    </div>Admin</a>";
                }?>
                <a href="/main">
                    <div class="menuDecorator"><img src="/public/image/schedule.svg"></div>Schedule
                </a>
                <a href="/gallery">
                    <div class="menuDecorator"><img src="/public/image/gallery.svg"></div>Gallery
                </a>
                <a href="/contact">
                    <div class="menuDecorator"><img src="/public/image/contact.svg"></div>Contact
                </a>
                <a href="/location">
                    <div class="menuDecorator"><img src="/public/image/location.svg"></div>Location
                </a>
                <a href="/bowling">
                    <div class="menuDecorator"><img src="/public/image/bowling.svg"></div>Bowling
                </a>
            </div>
        </div>
    </div>
</body>

</html>